<h1>DataAnalysis - Number of users having same symptoms</h1>
<h2>Analysis created at <%= @analysis.created_at %></h2>
<h2>Status: <%= @analysis.status %></h2>
<h3>Token: <%= @analysis.token %></h3>

<p>
  <strong>Start date:</strong>
  <%= @analysis.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @analysis.end_date %>
</p>

<p>
  <strong>Threshold:</strong>
  <%= @analysis.threshold %>
</p>

<% if @analysis.status == 'done' %>
    <div>
      <h3>this section will show the result of the analysis</h3>

      <table>
        <thead>
        <tr>
          <td>Number of match</td>
          <td>Symptoms names</td>
        </tr>
        </thead>
        <tbody>
        <% @analysis.data_analysis_analysis_results.each do |result| %>
            <tr>
              <td><%= result.result_number %></td>
              <td>
                <% result.symptoms.each do |symptom| %> <%= symptom.name %> &
                <% end %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>